/* Esconde elementos do fluxo do jogo */
.hidden {
    display: none !important;
}

/* Configuração básica para o Modo Escuro */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}
body.dark-theme .card, body.dark-theme header, body.dark-theme footer {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333;
}
